.article {
  margin: 0 auto;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: 940px;
  height: 140px;
  padding: 15px 20px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 6px;
  max-width: 682px;
}

.title {
  color: #1890ff;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.favorites {
  display: flex;
  gap: 5px;
  cursor: pointer;
}

.favoritesNumber {
  font-size: 14px;
}

.tags {
  display: flex;
  gap: 8px;
}

.tag {
  color: #00000080;
  padding: 2px;
  font-size: 12px;
  border: 1px solid #00000080;
  border-radius: 2px;
}

.description {
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  line-height: 22px;
  word-break: break-word;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.infoContainer {
  display: flex;
  align-self: flex-end;
  gap: 12px;
}

.author {
  display: flex;
  flex-direction: column;
}

.name {
  text-align: end;
  font-size: 18px;
  line-height: 28px;
}

.date {
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  line-height: 22px;
  text-align: end;
}

.avatar {
  width: 46px;
  height: 46px;
}

.full {
  height: fit-content;
  padding: 20px;
}

.markdown {
  all: revert;
  color: rgba(0, 0, 0, 0.75);
  word-wrap: break-word;
  max-width: 650px;
}

.controls {
  display: flex;
  gap: 12px;
}

.disabled {
  cursor: not-allowed;
}
